<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFileAppender"
                     fileName="logs/app.log"
                     filePattern="logs/app-%d{dd-MM-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <!--On Startup Trigger Policy-->
                <!-- rollover on startup, daily and when the file reaches
                    5 MB -->
                <!--TimeBasedTrigger Policy-->
                <!--DefaultRolloverStrategy with maximum 10-->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                        size="5 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.tra22.spring.redis" level="debug" additivity="false">
            <AppenderRef ref="RollingFileAppender" />
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="org.springframework.boot" level="error" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="RollingFileAppender" />
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>